.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards side by side */
    width:1000px;
    justify-items: center;
    align-items: center;
    margin: 50px;
    gap:20px;
    

   
  }